
   .shareform{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   
   #category_id{
      margin-top: 1em;
      margin-bottom: 1em;
   }
   #crust{
      margin-bottom: 1em;
   }
   
   #sauce{
      margin-bottom: 1em;
   }

   #cheese{
      margin-bottom: 1em;
   }

   #meats{
      margin-bottom: 1em;
   }

   #toppings{
      margin-bottom: 1em;
   }

   button{
      margin: 2em 0;
   }

   .meat{
      margin-top: 1em !important;
   }

   .top{
      margin-top: 1em !important;
   }
